<app-header title="Profile" [backBtn]="false"></app-header>
<ion-content>
    <app-refresher (onRefresh)="pageRefreshed($event)"></app-refresher>
    <!-- <ion-card>
      <ion-card-content *ngIf="!!userDetails">
        <input type="file" style="display:none" (change)="updateProfilePic($event)" name="image" 
           #fileButton/>
        <ion-thumbnail size="50" (click)="chooseFile()">
          <img [src]="userDetails.profilePic" />
        </ion-thumbnail>
        <br/>
        <h1 class="text">Welcome <b>{{userDetails.displayName}}</b></h1><br/>
        <ion-button color="primary" expand="block" shape="round" fill="outline" 
        (click)="logOut()">Log Out</ion-button>
      </ion-card-content>
      <ion-card-content *ngIf="!userDetails">
        <ion-skeleton-text width="500px" height="300px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card> -->
    <ion-skeleton-text *ngIf="!userDetails" width="500px" height="300px"></ion-skeleton-text>
    
    <div *ngIf="!!userDetails">
      <input type="file" style="display:none" (change)="updateProfilePic($event)" name="image" 
      #fileButton/>
      <ion-item-group>
        <ion-item>
            <!-- (click)="chooseFile()" -->
          <ion-avatar slot="start">
            <img [src]="userDetails.profilePic ? userDetails.profilePic : defaultProfilePic">
          </ion-avatar>
          <ion-label color="dark">
            <b>{{userDetails?.name}}</b>
          </ion-label>
        </ion-item>
        <ion-item>
        <ion-icon name="person"></ion-icon> &nbsp;
        <ion-label><strong>
          <span *ngIf="userDetails?.gender == 'M'">Male</span>
          <span *ngIf="userDetails?.gender == 'F'">Female</span>
          <span *ngIf="userDetails?.gender !== 'F' && userDetails?.gender !== 'M'">-</span>
          </strong>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail"></ion-icon> &nbsp;
        <ion-label>
          <strong>
            <span *ngIf="userDetails?.username.indexOf('@') !== -1">{{userDetails?.username}}</span>
            <span *ngIf="userDetails?.username.indexOf('@') === -1">-</span>
          </strong>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call"></ion-icon> &nbsp;
        <ion-label>
          <strong>
            <span *ngIf="userDetails?.username.indexOf('@') === -1">{{userDetails?.username}}</span>
            <span *ngIf="userDetails?.username.indexOf('@') !== -1">-</span>
          </strong>
        </ion-label>
      </ion-item>
      </ion-item-group>
      <ion-list>
        <ion-item [routerLink]="['','tabs', 'tickets']">
          <ion-icon name="bookmark"></ion-icon> &nbsp;
          Your Tickets
        </ion-item>
        <ion-item>
          <ion-icon name="create"></ion-icon>&nbsp; Change Details
        </ion-item>
        <ion-item>
          <ion-icon name="information-circle"></ion-icon>&nbsp; Terms & Conditions
        </ion-item>
        <ion-item>
          <ion-icon name="star"></ion-icon> &nbsp; Rate Our App (not implemented)
        </ion-item>
        <ion-item>
          <ion-icon name="share"></ion-icon>&nbsp; Share (not implemented)
        </ion-item>
        
        <ion-item (click)="logOut()">
          <ion-icon name="log-out"></ion-icon> &nbsp; Log Out
        </ion-item>
      </ion-list>
      <!-- <ion-thumbnail size="10" (click)="chooseFile()">
        <img [src]="userDetails.profilePic" />
      </ion-thumbnail> -->
    </div>
</ion-content>
