.half-full-ticket-color {
    background-color: #3F51B5;
}
.half-senior-ticket-color {
    background-color: #FF7043
}
.full-senior-ticket-color {
    background-color: #607D8B;
}
.half-full-senior-ticket-color {
    background-color: #8D6E63;
}
.expired-ticket-color {
    background-color: #757575;   
}
 
//half -   warning
//full -   success
//senior -  primary
//half+full - #3F51B5 // purple  
//half + senior - #FF7043 //orange
//full + senior - #607D8B // blue grey
//half + full + senior - #8D6E63 // brown
//expired. - light black -#757575 