<ion-card [color]="ticket.color"  *ngFor="let ticket of tickets;">
  <ion-card-title padding style="text-align:center">
    {{ ticket?.ticketInfo?.route }}
  </ion-card-title>
  <ion-card-content>
    <ion-item [color]="ticket.color">
      <ion-text>Ticket Id</ion-text>
      <h2 class="ticket-details-text" slot="end">{{ ticket?.ticketId }}</h2>
    </ion-item>
    <ion-item [color]="ticket.color">
      <ion-text>Time</ion-text>
      <h2 class="ticket-details-text" slot="end">{{ ticket?.date }}</h2>
    </ion-item>
    <ion-item [color]="ticket.color">
      <ion-text>Boarding Point</ion-text>
      <h2 class="ticket-details-text" slot="end">{{ ticket?.ticketInfo?.boardingPoint }}</h2>
    </ion-item>
    <ion-item [color]="ticket.color">
      <ion-text >Dropping Point</ion-text>
      <h2 class="ticket-details-text" slot="end">{{ ticket?.ticketInfo?.droppingPoint }}</h2>
    </ion-item>
    <ion-item [color]="ticket.color">
      <ion-text>Half Ticket</ion-text>
      <h2 class="ticket-details-text" slot="end">{{ ticket?.ticketInfo['Half Ticket'] }}</h2>
    </ion-item>
    <ion-item [color]="ticket.color">
      <ion-text>Full Ticket</ion-text>
      <h2 class="ticket-details-text" slot="end">{{ ticket?.ticketInfo['Full Ticket'] }}</h2>
    </ion-item>
    <ion-item [color]="ticket.color">
      <ion-text>Senior Citizen</ion-text>
      <h2 class="ticket-details-text" slot="end">{{ ticket?.ticketInfo['Senior Citizen'] }}</h2>
    </ion-item>
    <ion-item [color]="ticket.color">
      <ion-text>Total Price</ion-text>
      <h2 slot="end" class="total-price">{{ticket?.ticketInfo?.totalPrice }}/-</h2>
    </ion-item>
  </ion-card-content>
</ion-card>