.expired_background_color{
    background-color: '#757575';
}
.normal_backgroud_color{
    background-color: '#FFF';
}
.half_background_color{
    background-color: '';
}
.full_background_color{
    background-color: '';
}
.senior_background_color{
    background-color: '';
}
.half_full_background_color{
    --background: '#3F51B5' !important;
}
.full_senior_background_color{
    background-color: '#607D8B';
}
.half_senior_background_color{
    background-color: '#FF7043';
}
.half_full_senior_background_color{
    background-color: '#8D6E63';
}
.cancelled_background_color{
    background-color: '';
}
 
//half -   warning
//full -   success
//senior -  primary
//half+full - #3F51B5 // purple  
//half + senior - #FF7043 //orange
//full + senior - #607D8B // blue grey
//half + full + senior - #8D6E63 // brown
//expired. - light black -#757575 