<app-header title="Select Seats" [link]="backBtnLink" backBtn="true" [homeBtn]="true"></app-header>

<ion-content padding>
  <ion-list>
    <ion-item class="no-p" color="dark" *ngIf="!!fairDetails && fairDetails.length > 0">
      <ion-text color="light">No.of Seats: {{numOfSeats}}</ion-text>
      <ion-text slot="end" color="light">Price: {{totalPrice}}/-</ion-text>
    </ion-item>
    <ion-item *ngFor="let ticket of fairDetails">
      <input color="success" type="checkbox" [(ngModel)]="ticket.isChecked" (change)="changeSeatCount('checkbox',ticket)"/>
      &nbsp;&nbsp;{{ticket.type}}
      <ion-buttons slot="end">
        <ion-button (click)="changeSeatCount('increment', ticket)">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        {{ticket.count}}
        <ion-button [disabled]="ticket.count == 0" (click)="changeSeatCount('decrement', ticket)">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cat Card 1</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    
  </ion-list>
  <br/>
  <ion-button color="tertiary" expand="full" fill="solid" shape="round" (click)="checkout()">Check Out</ion-button>
</ion-content>
