.total{
  font-weight: 500;
}
ion-item{
  --padding-bottom: 15px;
}
.no-p{
  --padding-bottom: 0 !important;
  --padding-top: 0 !important;
  --padding-left: 0 !important;
  --padding-right: 0 !important;
}