<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="field">
        <ion-label position="floating">Enter Mail/Phone</ion-label>
        <ion-input [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-item class="field">
            <!-- <ion-label position="floating">Name</ion-label> -->
            <ion-input [(ngModel)]="fullName" placeholder="Enter Name" name="name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="field">
            <!-- <ion-label></ion-label> -->
            <img [src]="maleImg" width="30" height="25" (click)="changeGender('M')" />
            <img [src]="femaleImg" width="30" height="25" (click)="changeGender('F')" />
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item class="field">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-item class="field">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmpwd" name="confirmpwd"></ion-input>
      </ion-item>
      <div style="padding-top:10px"></div>
      <ion-button expand="full" fill="solid" shape="round" color="secondary" [disabled]="!isValidCredentials()"
       (click)="registerUserDetails()">Sign Up</ion-button>
      <div style="padding-top:10px"></div>
      <ion-text class="note" color="warning" (click)="gotoLogin()">Already Registered? <b>Click here to Log In</b></ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>