<app-header title="Tickets" [backBtn]="false"></app-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [value]="currentSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="current">
        <ion-label>Current</ion-label>
      </ion-segment-button>
      <ion-segment-button value="past">
        <ion-label>Past</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div *ngIf="tickets.length > 0" appTickets [tickets]="tickets" class="tickets-container"></div>
  <div *ngIf="tickets.length <= 0">
    <h4>No Tickets Found</h4>
  </div>

<!-- 
  <ion-card [color]="ticketColor" padding>
    <ion-card-title>
      Boarding Point -> Dropping Point
    </ion-card-title>
    <ion-card-content>
      <div appTicket [color]="ticketColor" [data]="{ticketNo: 291839, ht: 3,ft: 5, st: 4, catCards: [234567,13434534]}"></div>
    </ion-card-content>
  </ion-card>
  <ion-card color="danger">
    <ion-card-title padding>
      Ticket Info
    </ion-card-title>
    <ion-card-content>
      <div appTicket color="danger" [data]="{ticketNo: 291839, ht: 3,ft: 5, st: 4, catCards: [234567,13434534]}"></div>
    </ion-card-content>
  </ion-card>
  <ion-card color="warning">
    <ion-card-title padding>
      Ticket Info
    </ion-card-title>
    <ion-card-content>
      <div appTicket color="warning" [data]="{ticketNo: 291839, ht: 3,ft: 5, st: 4, catCards: [234567,13434534]}"></div>
    </ion-card-content>
  </ion-card>
  <ion-card color="primary">
    <ion-card-title padding>
      Ticket Info
    </ion-card-title>
    <ion-card-content>
      Ticket Details
    </ion-card-content>
  </ion-card> -->
</ion-content>
