<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="field">
        <ion-label position="floating">Username</ion-label>
        <ion-input [readonly]="otpSent" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      <ion-note class="note" color="warning">{{note}}</ion-note>    
      <br/>
      <ion-item class="field" *ngIf="otpSent">
        <ion-label position="floating">Enter OTP</ion-label>
        <ion-input [(ngModel)]="otp" name="otp"></ion-input>
      </ion-item>
      <br/>
      <ion-button expand="full" fill="solid" shape="round" color="secondary"
        [disabled]="!validForm()" (click)="submitForm()">{{submitText}}
      </ion-button>
      <div style="padding-top:10px"></div>
      <ion-text class="note" color="warning" (click)="redirectToLogin()"><b>Click here for Login Page</b></ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
