<app-header title="About" [backBtn]="false"></app-header>

<ion-content>
 <ion-card>
   <ion-card-content>
     <ion-text color="primary"><b>About</b></ion-text><br/>
     Zero innovative technology is a start-up company, which is more focused towards latest technologies in  public transportation system . giving a better experience through our TICKET-TICKET solution.
   </ion-card-content>
 </ion-card>
 <ion-card>
  <ion-card-content>
    <ion-text color="primary"><b>Contact</b></ion-text><br/>
    <ion-text>
      <ion-icon name="call"></ion-icon> {{contactInfo?.phone}}<br/>
    </ion-text>
    <ion-text>
      <ion-icon name="mail"></ion-icon> {{contactInfo?.mail}} 
    </ion-text><br/><br/>
    <ion-text color="primary"><b>Office Address</b></ion-text><br/>
    <ion-text>
      <ion-icon name="business"></ion-icon>
     {{contactInfo?.address}}
    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>
